:root {
    --font-family: 'Rubik', Helvetica, Arial, sans-serif;
    /*
    * Media queries breakpoints
    * ======================================================================== */
    /* Extra small screen / phone horiz */
    --sc-xs-min-horiz: 320px;
    /* Extra small screen / phone */
    --sc-xs-min: 480px;
    /* Small screen / tablet */
    --sc-sm-min: 768px;
    /* Medium screen / desktop */
    --sc-md-min: 992px;
    /* Large screen / wide desktop */
    --sc-lg-min: 1200px;
    /*
    * Colors
    * ======================================================================== */
    --white: #FFFFFF;
    --red: #e62c3d;
    --yell: #f9c468;
    --oran: #ef7752;
    --yell2: #F5D64A;
    --pink: #FF57CF;
    --bodyBg: #F9F9F9;
    --CompanyColor: #EA5047;
    --blueGeneral: #363949;
    --texColor: #888888;
    --gris-claro: #f9f9f9;
    --grad1: #ffe000;
    --grad2: #e94057;
    --grad3: #8a2387;
    --error: #DC3545;
    --errorBg: #F2DEDE;

    /*
    * Sizes
    * ======================================================================== */
    --generalWidth: 1000px;
    --mediumWidth: 500px;
    --smallWidth: 250px;
    --iconSize: 30px;
    --fontSizeTitle: 3.3rem;
    --fontSizeSubtitle: 2.3rem;
    --fontSizeText: 1.3rem;
    --slimLetters: 100;
    --boldLetters: 700;
}

* {
    margin: 0;
}

a {
    cursor: pointer;
}

body {
    background-color: var(--bodyBg);
    font-family: var(--font-family);
    font-size: var(--fontSizeText);
    font-weight: var(--slimLetters);
    color: var(--texColor);
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.general-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.general-padding4 {
    padding: 20px;
}

.center-inside-elements-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grad {
     background-image: linear-gradient(to bottom right, var(--grad1), var(--grad2), var(--grad3));
}

.fg-slider {
    height: 500px!important;
}

.centrado-vertical {
    /* alineacion vertical */
    align-items: center;
}

.margin-elements {
    margin-top: 30px;
}

.form-error {
    border: 1px solid var(--red);
    background-color: var(--errorBg)
}

.icon-size{
    height: var(--iconSize);
}