/*
    ******************************************  ARTICULO VIEW
    ******************************************  
    ******************************************          
*/
.article-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.article-filter {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.article-container__img {
    height: 150px;
    max-width: 90%;
}

.article-container__divImg {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;
}
.article-container__pvp{
    color:var(--green);
    font-weight: var(--boldLetters);
}
.article-container__info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
}
.article-container__pTitle{
    color: var(--blueGeneral);
    font-weight: var(--boldLetters);
}
.article-container__padding{
    padding-top: 15px;
}
.article-container__btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
}
/*
    ******************************************  GENERIC BUTTON
    ******************************************  
    ******************************************          
*/
.generic-btn {
    height: 45px;
    color: var(--white);
    font-weight: var(--boldLetters);
    font-size: var(--fontSizeText);
    border: none;
}

.generic-btn:hover {
    color: var(--grad2);
    font-weight: var(--boldLetters);
    background-image: var(--white);
    border: 3px solid var(--grad2);
}
/*
    ******************************************  HEADER
    ******************************************  
    ******************************************          
*/
.header__top-language{
    display:flex;
    justify-content: end;
    align-items: center;
}
.margin_lng-icons{
    margin-right: 20px;
}
.header__menu-logo {
    height: 60px;
    width: 120px;
}

.header__menu {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.header__top {
    height: 25px;
    background-color: var(--blueGeneral);
    color: var(--white);
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__topIcon {
    height: 15px;
    padding-left: 15px;
}

.header {
    /* background-color: transparent; */
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .header__logo {
    display: block;
    float: left;
    /* font-size: 2em; */
    padding-left: 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 1540px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

/*
    ******************************************  FOOTER
    ******************************************  
    ******************************************          
*/

.footer__menu-separador {
    color: var(--white);
    padding-left: 3px;
    padding-right: 3px;
}

.footer__menu-list {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.footer__menu-list>a {
    color: var(--white);
}

.footer__menu {
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer {
    background-color: var(--blueGeneral);
    margin-top: 30px;
}

.root {
    background: #fff;
    padding: 2rem;
}

.footer__grid {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "elem1" "elem2" "elem3";
    color: var(--textGeneral);
}

.footer__elemsTitle>p {
    color: var(--white);
    font-weight: var(--boldLetters);
}

.footer__elem1 {
    grid-area: elem1;
    padding: 20px;
}

.footer__elem2 {
    grid-area: elem2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.footer__elem3 {
    grid-area: elem3;
    padding: 20px;
    text-align: right;
}

.gloriaItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.gloriaTitle {
    color: #555;
    font-size: 1.6rem;
    padding-left: 2rem;
}

.hiddenSm {
    display: none;
}

@media (min-width: 576px) {
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "elem1 elem3" "elem2 elem2";
    }
}

@media (min-width: 992px) {
    .footer__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "elem1 elem2 elem3";
    }
}

.btnColor {
    background-color: var(--blueGeneral);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fontSizeText);
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnColor:hover {
    background-color: var(--white);
    ;
    color: var(--blueGeneral);
    border: 1px solid var(--blueGeneral);
}

/* #inpEmail {
    height: 30px;
    ;
    max-width: 200px
} */


.banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

#result {
    max-width: var(--generalWidth);
}


/*
    ******************************************  TARIFA-COMPONENT
    ******************************************  
    ******************************************          
*/
.tarifa-details__subtarifa-text-title{
    color: var(--blueGeneral);
    font-weight: var(--boldLetters);
    padding: 5px;
}
.tarifa-details__subtarifa-divInterno{
    padding-top:20px;
    padding-bottom: 20px;
}
.tarifa-details__subtarifa-text{
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid var(--blueGeneral);
}
.tarifa-details__subtarifa-price{
    color: var(--green);
    font-weight: var(--boldLetters);
    padding: 10px;
}
.tarifa-details__subtarifa-bg {
    background-color: var(--blueGeneral);
    color: var(--white);
}
.tarifa-details__subtarifa-img{
    width: 100%;
}
.tarifas-details-container{
    max-width: var(--genSpecialWidth);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:30px;
    padding: 20px;
}
.tarifa-details__subtarifa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cajaTarifaGeneral__price{
    color:var(--green);
    padding-top: 20px;
    font-weight: var(--boldLetters);
}
.btn-width{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cajaTarifaGeneral__divBtn{
    display: flex;
    align-items: end;
    justify-content: center;
}
.cajaTarifa>p {
    text-align: center;
}
.tarifas-container {
    max-width: var(--generalWidth);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 10px;
}

.cajaTarifa {
    /* border: 1px solid var(--blueGeneral); */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    /* border-top: 1px solid var(--texColor); */
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-radius: 10px; */
}

.cajaTarifaGeneral {
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* gap: 10px; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-bottom: 20px;
    border-radius: 25px;
    border: 1px solid var(--grad2);
}

.tituloTarifa {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--blueGeneral);
    border-top-right-radius: 20px;
    border-top-left-radius: 25px;
    color: var(--white);
    height: 180px;
}



.tituloSubtarifa {
    color: var(--blueGeneral);
    font-size: var(--fontSizeText);
    font-weight: var(--boldLetters);
    text-transform: uppercase;
    text-align: center;
}

.contenidoSubtarifa {
    padding: 2px 10px 2px 10px;
}
/*
    ******************************************  HOME
    ******************************************  
    ******************************************          
*/

.home-container {
    max-width: var(--generalWidth);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.home-container p {
    text-align: justify;
}

.home-container__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--fontSizeTitle);
    color: var(--blueGeneral);
}

.contact-container {
    max-width: var(--generalWidth);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}


.parrafoTitle {
    color: var(--white);
    font-size: var(--fontSizeSubtitle);
    font-weight: var(--boldLetters);
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
    ******************************************  HERO
    ******************************************  
    ******************************************          
*/

.titleHero {
    color: var(--white);
    font-size: var(--fontSizeTitle);
    font-weight: var(--boldLetters);
    text-align: center;
}

/*
    ******************************************  Slider/Carrousel
    ******************************************  
    ******************************************          
*/

.div-slide {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: var(--blueGeneral);
    opacity: 0.7!important;
    padding: 25px;
    border-radius: 10px 10px 10px 10px;
}

.div-slide__logo {
    width: 50px;
    height: 50px;
}

.div-slide__bloque-logo {
    display: inline-flex;
    text-transform: uppercase;
}

.div-slide__caja-title {
    font-size: var(--fontSizeSubtitle);
    color: var(--white);
    padding-left: 15px;
}

.div-slide__link {
    text-align: center;
}

/*
    ******************************************  AVISO LEGAL
    ******************************************  
    ******************************************          
*/

.avisoLegal-container {
    /* background-color:var(--white); */
    max-width: var(--generalWidth);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.avisoLegal-container__title {
    color: var(--blueGeneral);
    font-weight: var(--boldLetters);
}

.avisoLegal-container__p-espacios {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

/*
    ******************************************  CONTACT
    ******************************************  
    ******************************************          
*/
.contact-icon__grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, auto 1fr);
    align-items: flex-start;
}

.contact {
    max-width: var(--generalWidth);
}

.contact__grid {
    /* background-color: red; */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 1fr;
}

.contact__gridForm {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

.contact__gridForm>textarea {
    height: 70px;
}

.contatc__gridForm-elem {
    height: 30px;
    padding: 10px;
}



.fa-angle-left {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(-225deg);
}

.fa-angle-right {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
}

/*
    ******************************************  MEDIA QUERIES
    ******************************************  
    ******************************************          
*/

@media (min-width: 768px) {
    .contact-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .home-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact__grid {
        grid-template-columns: 1fr 1fr;
    }
    .tarifas-details-container {
        grid-template-columns: repeat(2, 1fr);
    }
}